.button {
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  border: none;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  -webkit-appearance: none;
}

h1 {
  font-size: 1.8rem;
}
/*
.text-input {
  width: 100%;
  position: relative;
  display: block;
  background-color: #d2d6df;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 1px;
  outline: none;
  color: #45494e;
  font-size: 16.8px;
  font-size: 1.2rem;
}

.text-input input {
  display: block;
  width: 100%;
  height: 100%;
  padding: 8px 12px 9px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 2px;
  outline: none;
  border: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  -webkit-appearance: none;
}*/
